<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Founder's Journey Challenge Leaderboard
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./assets/images/favicon.ico" rel="shortcut icon">
	<link href="./assets/images/favicon.png" rel="icon" type="image/png">
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="./assets/css/default.css" rel="stylesheet">

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37186377-1']);
	  _gaq.push(['_setDomainName', 'herokuapp.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body class="bg-black">
<div class="container">
	<div class="row pagination-centered">
		<div class="offset2"></div>
	<div class="span8 offset2">
		<header>
			<div class="row">
				<div class="span4"><a href="http://web.mit.edu/founders/www/details.html"><img src="/assets/images/fj_logo.png" /></a></div>
				<div class="span3"><h1>2012-2013 Crowd Funding Competition</h1></div>
			</div>
			<div class="row top-padded">
				<div class="span4 v-center"><h1><a class="btn" href="rules">Information</a></h1></div>
				<div class="span4 ">
				</div>
			</div>
		</header>

		<div class="row-center pagination-centered">
			<table class="table pagination-centered table-bordered">
				<thead>
					<tr>
						<th class="span1"><div class="pagination-centered">Rank</div></th>
						<th class="span3"><div class="pagination-centered">Team Name</div></th>
						<th class="span3 hidden-phone"><div class="pagination-centered">Pledged/Goal</div></th>
						<th class="span2 visible-phone"><div class="pagination-centered">Pledged/Goal</div></th>
						<th class="span1 hidden-phone"><div class="pagination-centered">Percent</div></th>
					</tr>
				</thead>
				<tbody>
				<% entrants.sort(function(a,b){return b.amountRaised - a.amountRaised}); %>
					<% var i = 0 %>
					<% entrants.forEach(function(entrant){ %>
						<% ++i %>
   						 <tr>
							<td><div class="row v-center"><%= i %></div></td>
							<% if (entrant.platform == "kickstarter"){ 
								var url = "http://www.kickstarter.com/" + entrant.url;}
								else{
									var url = "http://www.indiegogo.com/" + entrant.url;
								}
								%>
							<td><div class="v-center"><a href="<%= url %>" ><%= entrant.teamName %></a></div><div class="v-center"><img src= <%= "assets/images/" + entrant.school + ".png" %> /></div></td>
							<td><div class="row v-center">
								<%if (entrant.launched == "n"){ 
									var money = "N/A";}
								else{
									var money = "$"+entrant.amountRaised +"/$" + entrant.goal;}
								%>
									<%= money %> </div>
								<div class="row pagination-centered"><img src= <%= "assets/images/" + entrant.platform + ".png" %> /></div>
							</td>
							<td class="hidden-phone">
								<div class="v-center"><%= ((entrant.amountRaised/entrant.goal)*100).toFixed(2) %>%</div>
							</td>
						</tr>
  					<% }) %>
				</tbody>
			</table>
		</div>	
	</div>
	</div>


</div>
</body>
</html>